$white: hsl(0, 0%, 100%);
$light-gray: hsl(217, 12%, 63%);
$medium-gray: hsl(216, 12%, 54%);
$dark-blue: hsl(213, 19%, 18%);
$very-dark-blue: hsl(216, 12%, 8%);

// PRIMARY
$primary: hsl(25, 97%, 53%);

// TYPOGRAPHY

$fz-sm: 15px;
$fz-md: 18px;
$fz-lg: 20px;
$fw-400: 400;
$fw-700: 700;

// WIDTHS
$width-sm: 375px;
$width-md: 768px;
$width-lg: 1440px;
